PORT=5001

# Odoo Online base domain (no /odoo/action...)
ODOO_URL=https://sn-food-distribution.odoo.com

# Your Odoo database name
ODOO_DB=sn-food-distribution

# Your Odoo login (usually email)
ODOO_USERNAME=snfooddistribution@gmail.com

# Your password or API key
ODOO_PASSWORD=SpiderMan2805!

# Brevo (Sendinblue) API
BREVO_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=SN Food Website
ADMIN_EMAIL=
